[Unit]
Description=App Count Service
After=network.target

[Service]
WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/appCount.sh
Restart=always
RestartSec=300
User=root

[Install]
WantedBy=multi-user.target
